{% extends "base.html" %}
{% block Content %}
{% load bootstrap_tags %}
<div class="row">
	
	<div class="span6 offset3" style="text-align: center">
		<legend>Reset Password</legend>
		
		<form class="form-horizontal" action="?next={{ next|default:"/" }}" method="post" style="margin-top: 20px">
		    {% csrf_token %}
		    {{ form|as_bootstrap }}
		    <div class="form-actions">
		      <button type="submit" class="btn btn-primary" value="Register &rarr;">Reset password</button>
		    </div>
		</form>
	</div>
</div>
{% endblock %}
