{% extends "base.html"%}
{% block title %}
<div>
	<h3>What's up?</h3>
	<hr/>
</div>
{% endblock %}

{% block content %}
{% load bootstrap_tags %}

{% include "todo/message_form.html" with form=form %}
<hr/>

<div id="messagesDiv">
	{% include "todo/message_list.html" with message_list=message_list %}
	
	<a href="{{request.path}}?page={{page}}"><span class="btn btn-inverse" style="padding:0px;min-width:100%;height:26px;font-size:18px">Load more</span></a>

</div>
<!-- end of message div-->
{% endblock %}


{% block scripts %}
    <script>
	$(document).ready(function(){ 
		$(this).find('#messagesDiv #showMore').click(
		function(){
			if ($(this).find('#moreText').html() == "more") {
				$(this).find('#moreText').html("less");
				
			} else {
				$(this).find('#moreText').html("more");
				
			}
			
			$(this).siblings('#more-message-options').slideToggle('fast');
		}

		);

		$(this).find('#messagesDiv #more-message-options').hide();
	});

	</script>
{% endblock %}

