<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplycious | Simple way to manage everything</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seo.description}}">
    

    <!-- Le styles -->
    <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" >
    <link href="{{STATIC_URL}}bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}todoapp.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="{{STATIC_URL}}jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  </head>

  <body>
  	
	<div class="wiki-panel">

		<!-- nav bar -->
		{% include "nav_bar.html"%}
		<!-- end nav bar -->
		<div class="row" style="margin:0px;padding: 0px;text-align: center;">
			<h3>This is a demo of wiki interface. </h3>
			<span>This wiki is to organize like of startups, mainly in India. Organized using various tags like #bootstrapped, #funded, #enterprise, #consumer etc.</span>
		</div>
		<hr/>
			
		<!-- Main content -->
		
		<div class="row" style="min-height:400px" id="wikiViewDiv">
			<!-- sidebar -->
			<div class="span3" id="wiki-sidebar">
				<div style="font-size: 16px;background-color: lightgray;width: 100%;color:black;text-align: center;line-height: 26px;">
					<span><a href="/demo/{{main_tag}}/">#{{main_tag}}</a></span>
				</div>
					
				<ul style="margin-top: 10px;">
					{% for tag_ in tag_list %}
					{% ifequal tag_.0 'ul' %}
						<ul>
					{% else %}
						{% ifequal tag_.0 '/ul' %}
						</ul>
						{% else %}
							{% ifequal tag_.0 'li' %}
							
								
							<li>
							{% else %}
								{% ifequal tag_.0 '/li' %}
									</li>
									
									
								{% else %}
									<a href="{{base_url}}?{{tag_.1}}">{{tag_.0}}</a>
									
								{% endifequal %}
							{% endifequal %}
						{% endifequal %}
					{% endifequal %}
					{% endfor %}
				</ul>
			</div>
			<!-- end of side bar -->
			<!-- content -->
			<div class="span8" style="border-left: 1px outset lightgray;padding-left:40px;min-height:400px;min-width: 500px;">
				<!-- form div -->
 				<div id="wiki-message-form">
					{% load bootstrap_tags %}
					<div style="position:relative;">
					<form class="form-vertical" id="messageForm">
						{% for field in form %}
						<div id="div_id_message" class="control-group">
		        			<div class="controls">
		             			{{ field }}
		        			</div>
		    			</div>
		    			{% endfor %}
					    <div id="normal-message-form-btn">
						<button type="submit" class="btn btn-primary" disabled="disabled">Save</button>
						</div>
					</form>
					</div>
				</div>
				<hr/>
				{% if message_list %}
				<div id="messagesDiv">
					<div style="min-height:250px;min-width: 500px" id="wikiMessageDisplayDiv">
						{% for message in message_list %}
						<div id="messageDisplay" style="position:relative;{% if message.i%}color:red;{% endif %}">
							<div id="messageDisplayArea">
								{% autoescape off %}{{message.message|urlize}}{% endautoescape %}
							</div>
							<br/>
							<div id="options" style="margin-top:10px;">
								{% for link_ in message.links %}
								<span class="label label-info">{{link_}}</span>
								{% endfor %}
							</div>
							<div class="more-message" id="showMore"><span id="moreText" class="label label-important" style="cursor:pointer;" >more</span></div>
							<div id="more-message-options">
								<hr/>
								<span class="label label-error">delete</span>
								<span class="label label-error">edit</span>
							</div>
						</div>
						<hr/>
						{% endfor %}
					</div>
					{% ifequal last_page True %}
					<a href="{{request.path}}?page={{page}}">
					{% endifequal %}
						<span class="btn btn-inverse wiki-load-more">Load more</span>
					{% ifequal last_page True %}
					</a>
					{% endifequal %}
				</div>
				{% else %}
					<p class="wiki-p">Sorry, no messages found. </p>
					<p class="wiki-p">All messages with <span style="text-decoration: underline;font-style:italic;background-color: lightgray;padding-right:10px;padding-left: 10px;">#wiki</span> tag are added automatically to wiki.</p>
				{% endif %}
			</div>
			<!-- end of content -->
		</div>

	    {% include "footer.html" %}
	</div>

   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33112694-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>

    <script src="{{STATIC_URL}}bootstrap.min.js"></script>
    
        <script>
	$(document).ready(function(){ 
		$(this).find('#messagesDiv #showMore').click(
		function(){
			if ($(this).find('#moreText').html() == "more") {
				$(this).find('#moreText').html("less");
				
			} else {
				$(this).find('#moreText').html("more");
				
			}
			
			$(this).siblings('#more-message-options').slideToggle('fast');
		}

		);

		$(this).find('#messagesDiv #more-message-options').hide();
	});

	</script>

  </body>
</html>
