<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{seo.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seo.description}}">
    

    <!-- Le styles -->
    <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" >
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="{{STATIC_URL}}js/jquery.js"></script>
	
  </head>

  <body style="max-width:480px;margin-left:auto;margin-right:auto">

    <div class="navbar navbar-fixed-top" style="max-width:480px;margin-left:auto;margin-right:auto">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Todo App</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container" style="max-width:480px;margin-top: 50px">

	    {% block content %}
	    {% endblock %}
    
	</div> <!-- /container -->

   

    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
