<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simplycious | Simple way to manage everything</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seo.description}}">
    

    <!-- Le styles -->
    <link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" >
    <link href="{{STATIC_URL}}bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}todoapp.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="{{STATIC_URL}}jquery.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

	
  </head>

  <body>
  	
	<div class="panel">

		<!-- nav bar -->
		<div class="navbar" style="min-width:100%;">
			<div class="navbar-inner" style="border-style:none ;box-shadow:none;">
				<div class="container-fluid" style="padding:2px;padding-left:5px">
					<a class="brand" style="padding-left:0px;font-family:Courgette;" href="/">Simplycious</a>
			          <div class="nav-collapse">
			            <ul class="nav">
			              <li class="dropdown">
			              	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tags <b class="caret"></b></a>
			        		<ul class="dropdown-menu">
			        			{% for popular_tag in popular_tag_list %}
			        			<li><a href="/tag/{{popular_tag}}">#{{popular_tag}}</a></li>
			        			{% endfor %}
			        			<li><a href="/tags/">All</a></li>
			        		</ul>
			              </li>
			              <li class="dropdown">
			              	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <b class="caret"></b></a>
			        		<ul class="dropdown-menu">
			        			{% for project in project_list %}
			        			<li><a href="/project/{{project.name}}">{{project.name}}</a></li>
			        			{% endfor %}
			          			<li><a href="/project/new/">+ Create new</a></li>
			        		</ul>
			              </li>
			            </ul>
			          </div><!--/.nav-collapse -->
					<form class="navbar-form pull-left">
						<input type="text" class="span2" style="width:150px">
					</form>
				</div>
			</div>
		</div>
		<!-- end nav bar -->
		<!-- title -->
		<div>
			<h3>What's up?</h3>
			<hr/>
		</div>
		
		<!-- end title -->

	    {% block content %}
	    {% endblock %}

   
</div>
   

    <script src="{{STATIC_URL}}bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
