<h3>About</h3>
<p>
	Managing information and tasks is still a difficult problem for most. I, <a href="http://www.sushrutbidwai.com">Sushrut Bidwai</a> personally feel, no single tool available does this elegantly. I built Simplycious to solve this problem at least for myself.
</p>
<p>
	Inspiration behind Simplycious is Twitter, in the way it is a simple and yet powerful tool to consume and propagate news/views.
</p>
<hr/>
<h3>Bookmarklet</h3>
<p>
	For bookmarking <a href="javascript: location.href='http://simplycious.com/message/new?tag=bookmark&url='+encodeURIComponent(location.href)">Simplycious:Bookmarklet</a>
</p>
<p>
	For readlater <a href="javascript: location.href='http://simplycious.com/message/new?tag=readlater&url='+encodeURIComponent(location.href)">Simplycious:Readlater</a>
</p>
<hr/>


<h3>How it works?</h3>
<p>
	You create a textual message and tag it with any number of appropriate tags. The message could be a bookmark, task, todo, link - almost any thing.
</p>
<p>
	Tags (any word starting with a <i>#</i>) is way you categories these messages. For example, I have created tags like books, movies, todo, buy, expenses.
</p>
<hr/>

<h3>Special or System tags</h3>
<p>
	There are few built in tags which have special significance and functionality attached to them. If you want to use the special functionality, then it has to be a first tag in the message.
</p>
<ul>
	<li><b>#expenses:</b> Helps in keeping track of expenses either personal or professional. There are two states for it - reported and reimbursed.</li>
	<li><b>#buy:</b> Always forget what you want to buy when you visit a grocery store? Then use this to keep a note of shopping list.</li>
	<li><b>#bookmark:</b> There is no special functionality yet, but I few plans regarding this. </li>
	<li><b>#readlater:</b> Helps in managing current reading list. </li>
	<li><b>#todo: </b> Simple task management. Done with a task, mark it done. Collaboration features for this in the pipeline. </li>
</ul>
<hr/>
<h3>#wiki system tag</h3>
<p>
	#wiki is a system tag which helps you in categories information very easily. You can use this tag along with any number of other tags.
</p>
<p>
	As you keep adding information to wiki, over a period of time, it starts understanding depth and breadth of the information. Alows you for auto-nesting of categories.
</p>
<p>
	Some examples of where this will be helpful.
</p>

<ul>
	<li>If you are an entrepreneur and wants to keep track of all ideas, use it like #wiki #ideas #more $tags.</li>
	<li>If you found new unix commands you want to remember for a rainy day, #wiki #unix #commands ...</li>
	<li>Organize quotes that you like.</li>
	<li>So on. Pretty much any thing you would like to keep record of for easy look up in future.</li>
</ul>
<hr/>

<h3>Tricks</h3>
<ul>
	<li>Create tags like #daily , #mondays etc for tasks which repeat. </li>
	<li>I use #wiki tag along with few other things to keep track important information to me and my business. Eg #wiki #competition tadalist.com </li>
</ul>
<hr/>


<h3>Limitations</h3>
<ul>
	<li>Search is poor. Current implementation supports basic searching. Advance search is in the pipeline.</li>
	<li>No collaboration features. I am implementing very basic collaboration features and should be ready by end of Aug 2012.</li>
	<li>No SSL. Sorry about this, but will see response and then decide whether to invest in it or not.</li>
</ul>
<hr/>

<h3>Technologies</h3>
<ul>
	<li>Python + Django.</li>
	<li>Heroku + Cleardb add on for mysql.</li>
	<li>Twitter Bootstrap and jQuery. </li>
	<li>bonsai for Elasticsearch - in pipeline.</li>
</ul>
<hr/>

<h3>Feedback</h3>
<p> More than happy to receive criticism (<a href="mailto:sb@simplycious.com">Email</a> ), feature requests. Or just use #simplycious and I will read it through.</p>
<p> If you like Simplycious, feel free to spread the word. :) </p>

	
