{% extends "base.html" %}
{% block title %}
<div>
	<h2>Introduction</h2>
</div>
<hr/>
{% endblock %}

{% block content %}
<h3>About</h3>
<p>
	Managing information and tasks is difficult problem. I, <a href="http://www.sushrutbidwai.com">Sushrut Bidwai</a>, feel, no single tool available does this elegantly. I built Simplycious to solve this problem at least for myself.
</p>
<p>
	We consume lot of information and content. Certain part of it is useful which we would like to record and use it afterwards. It can be as simple as bookmarking some article, quote from a book, like to a recipe or news about your competitor.
</p>
<p>
	Simplycious is built in a way that, it lets you record/save any type of information you want and then easily find that again. I use to keep track of my daily tasks (except meetings), bookmarks, reading list, movies I want to see. I keep track of new and interesting products/startups using it.
</p>
<hr/>
<h3>Features</h3>
<p>
	<ul>
		
	</ul>
</p>

<h3>Feedback</h3>
<p> More than happy to receive criticism (<a href="mailto:sb@simplycious.com">Email</a> ), feature requests. Or just use #simplycious and I will read it through.</p>
<p> If you like Simplycious, feel free to spread the word. :) <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
	
{% endblock %}
{% block scripts %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
